input[type="range"],
.irs,
.irs-bar,
.irs-line,
.irs-handle,
.irs-grid,
.irs-slider,
.irs-single,
.irs-min,
.irs-max {
  cursor: pointer !important;
}


#Performance * { font-size: 18px; } 
#validation_message { color: red; font-size: 25px; }

.center-caption {
  text-align: center;
  font-style: italic; /* optional */
  margin-top: 5px;    /* optional spacing */
}